<template>
  <div>
    <h1>Créer un quiz</h1>
    <form @submit.prevent="submitForm">
      <div>
        <label for="question">Question:</label>
        <input type="text" id="question" v-model="newQuestion.text" />
      </div>
      <div v-for="(answer, index) in newQuestion.answers" :key="index">
        <label :for="'answer' + index">Option {{ index + 1 }}:</label>
        <input :id="'answer' + index" type="text" v-model="answer.text" />
        <input type="checkbox" :value="index" v-model="newQuestion.correctAnswers" />
        <label :for="'correct' + index">Correcte</label>
      </div>
      <button type="button" @click="addAnswer">Ajouter une option</button>
      <button type="submit">Créer le quiz</button>
    </form>
    <div v-if="quizLink">
      <p>Quiz créé! Voici le lien: <a :href="quizLink">{{ quizLink }}</a></p>
    </div>
  </div>
</template>


<script setup lang="ts">
import { ref } from 'vue';

interface Answer {
  text: string;
}

interface Question {
  text: string;
  answers: Answer[];
  correctAnswers: number[];
}

const newQuestion = ref<Question>({
  text: '',
  answers: [{ text: '' }, { text: '' }],
  correctAnswers: []
});

const addAnswer = () => {
  newQuestion.value.answers.push({ text: '' });
};

const quizLink = ref('');

const submitForm = async () => {
  const response = await fetch('http://localhost:3000/createQuiz', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(newQuestion.value)
  });
  quizLink.value = (await response.json()).link;
};
</script>
