<template>
    <div>
      <div v-if="currentQuestion">
        <h2>{{ currentQuestion.text }}</h2>
        <div v-for="(answer, index) in currentQuestion.answers" :key="index">
          <button @click="submitAnswer(index)">{{ answer }}</button>
        </div>
      </div>
      <div v-else>
        En attente du démarrage du quiz...
      </div>
    </div>
  </template>
  
  <script setup lang="ts">
  import { socket } from "../socket";
  import { ref, onMounted } from 'vue';
  
  type Question = {
    text: string;
    answers: string[];
  }
  
  const currentQuestion = ref<Question | null>(null);
  
  const room = "quizRoom";
  
  onMounted(() => {
    socket.emit('joinRoom', room);
  
    socket.on('quizStarted', (questions: Question[]) => {
      console.log("Quiz démarré avec les questions: ", questions);
      currentQuestion.value = questions[0];
    });
  });
  
  const submitAnswer = (index: number) => {
    console.log(`Réponse ${index} soumise`);
  };
  </script>
  